* {
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #307bbb;
}

.card {
    border-radius: .50rem;
}

.card-input_field {
    width: 100%;
    height: 50px;
    border-radius: 5px;
    box-shadow: none;
    border: 1px solid #ced6e0;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    padding: 5px 15px;
    background: none;
    color: #1a3b5d;
    font-family: "Source Sans Pro", sans-serif;
}

.card-input_button {
    font-size: 30px;
    padding: 5px 15px;
}

.willFlip {
    height: 300px;
    position: relative;
    top: 58px;
    z-index: 99999;
    box-shadow: 0 20px 60px 0 rgba(14, 42, 90, 0.55);
    color: white;
    font-weight: bold;
    background-color: transparent;
    border: none;
}

.front{
    background-color: #000521;
    border-radius: 5px;
}

.back{
    background-color: #000521;
    border-radius: 5px;
}

.back-middle {
    margin-top: 5rem;
}

.content-parent {
    height: 80vh;
}

.content-right{
    position: relative;
    right: -45px;
}

#cardCcv{
    text-align: right;
    font-size: 18px;
    font-weight: bold;
}
